@model TravelVM
@{
    Layout = null;
}
<div>


    <form method="post">
        <h2 class="title">Yeni Səyahət</h2>
        <div class="row col-12">
            <div class="input-field">
                <i class="fas fa-calendar"></i>
                <label>Baslangic Tarixi</label>
                <input data-provide="datepicker" asp-for="StartDate" required="yes">
            </div>
        </div>
        <div class="row col-12">
            <div class="input-field">
                <i class="fas fa-calendar"></i>
                <label>Son Tarix</label>
                <input data-provide="datepicker" asp-for="EndDate" required="yes">
            </div>
        </div>
        <div class="input-field">
            <label>Olke</label>
            <select style="background-color: hsla(0, 0%, 0%, 0);" asp-for="CountryId" asp-items="@ViewBag.Countries">
                <option style="background-color: hsla(0, 0%, 0%, 0);" value="" disabled selected>Secin</option>
            </select>
        </div>
        <div class="input-field">
            <label>Seher</label>
            <select style="background-color: hsla(0, 0%, 0%, 0);" asp-for="CityId" asp-items="@ViewBag.Cities">
                <option style="background-color: hsla(0, 0%, 0%, 0);" value="" disabled selected>Secin</option>
            </select>
        </div>
       <div class="input-field">
           <label>Istifade olunan vesait(AZN)</label>
            <input asp-for="Fund" required="yes">
       </div>
        <a class="btn btn-primary" asp-controller="Travel" asp-action="Index" type="submit" value="Imtina" class="btn solid">Imtina</a>
        <input asp-controller="Travel" asp-action="Create" type="submit" value="Yaddas" class="btn solid">
    </form>
</div>


