@model TravelVM

<a asp-contoller="travel" asp-action="create">Yeni Seyahet</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Olke</th>
                <th scope="col">Seher</th>
                <th scope="col">Baslangic Tarixi</th>
                <th scope="col">Bitis Tarixi</th>
                <th scope="col">Mebleg</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
